header {
	background: #2C3E50;
	display: flex;
	justify-content: center;
	line-height: 75px; 
/*	position: sticky;
    top: 0;
    z-index: 1000; */

}



#banner {
	height: 550px;
	padding-top: 75px;
}

#logo-header {
/*	position : fixed;*/
	width: 200px !important;
	top : -45px;
	left : 0;
	background-color: #fdcb6e;
}

main {
	padding-top: 50px;
	text-align: left;
}

#calltoaction {
	transition : 0.5s;
	border : none;
	background-color: #2C3E50 !important;
	color : #fff;

}

#calltoaction:hover {
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}


#featured-items {
	height: 500px;
}


#multiItemCarousel .carousel-item img {
  height: 250px; /* Adjust height for square shape */
  object-fit: cover; /* Crop to fit */
  border-radius: 10px; /* Optional: rounded corners */
}


  .carousel-caption-custom {
    text-align: center;
    position: relative;
    bottom: 10px;
    width: 100%;
    height: 45px;
    padding-top : 10px;
    top : -70px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }


#map {
  background-color: #D5B29C;  /* Replace with your desired color */
}

#map .map-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map iframe {
/*  border-radius: 8px;*/
}

#contact-us {
	background-color: #F8F9FA;
}


#contact-btn {
	transition : 0.5s;
	border : none;
	background-color: #2C3E50 !important;
	color : #fff;

}

#contact-btn:hover {
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}



.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #FDCB6E;
  border-bottom-color: #FDCB6E;
}


.nav {
/*    --bs-nav-link-color: #ffc107;*/
    --bs-nav-link-hover-color: #FFF !important;
 }

 .text-bg-moh {
    color: #212529 !important;
    background-color: #F8F9FA !important;
}



.carousel-inner img {
  height: 300px; /* Adjust as needed */
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}



/* Responsive tweaks for small screens */
@media (max-width: 1024px) {
  /* Header logo hide on small screens */
  #thebanner {
    min-height: 800px;
  }
}


@media (max-width: 420px) {
  /* Header logo hide on small screens */
 	nav a {
 		font-size : 0.8rem !important;
 	}
}
 
